# Cleaning and Analyzing Used Car Data

In [1]:
import numpy as np
import pandas as pd

In [2]:
autos = pd.read_csv('autos.csv', encoding='Latin-1')
autos.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

In [3]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   dateCrawled          50000 non-null  object
 1   name                 50000 non-null  object
 2   seller               50000 non-null  object
 3   offerType            50000 non-null  object
 4   price                50000 non-null  object
 5   abtest               50000 non-null  object
 6   vehicleType          44905 non-null  object
 7   yearOfRegistration   50000 non-null  int64
 8   gearbox              47320 non-null  object
 9   powerPS              50000 non-null  int64
 10  model                47242 non-null  object
 11  odometer             50000 non-null  object
 12  monthOfRegistration  50000 non-null  int64
 13  fuelType             45518 non-null  object
 14  brand                50000 non-null  object
 15  notRepairedDamage    40171 non-null  object
 16  dateCreated          50000 non-null  object
 17  nrOfPictures         50000 non-null  int64
 18  postalCode           50000 non-null  int64
 19  lastSeen             50000 non-null  object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

There is a quite a large amount of missing info in multiple categories. If we were to preform a data science project to predict information, we would need to determine a method to replace empty values/drop data from the analysis.

In [4]:
new_names = autos.columns.copy()

In [5]:
print(new_names)

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'odometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [6]:
autos.columns = ['crawl_date', 'name', 'seller', 'offer_type', 'price', 'abtest',
       'vehicleType', 'registration_year', 'gearbox', 'power_ps', 'model',
       'odometer', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'picture_amount', 'postal_code',
       'last_seen']

In [7]:
autos.head(2)

,crawl_date,name,seller,offer_type,price,abtest,vehicleType,registration_year,gearbox,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,picture_amount,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08

Above, columns names were changed to match that of snake type and not camel case. That is the typical format of Python code. Camel case is more prominent in OOP languages.

In [8]:
autos.describe

<bound method NDFrame.describe of                 crawl_date                                               name  \
0      2016-03-26 17:47:46                   Peugeot_807_160_NAVTECH_ON_BOARD
1      2016-04-04 13:38:56         BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik
2      2016-03-26 18:57:24                         Volkswagen_Golf_1.6_United
3      2016-03-12 16:58:10  Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...
4      2016-04-01 14:38:50  Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...
...                    ...                                                ...
49995  2016-03-27 14:38:19   Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon
49996  2016-03-28 10:50:25  Opel_Astra_F_Cabrio_Bertone_Edition___TÜV_neu+...
49997  2016-04-02 14:44:48                     Fiat_500_C_1.2_Dualogic_Lounge
49998  2016-03-08 19:25:42                 Audi_A3_2.0_TDI_Sportback_Ambition
49999  2016-03-14 00:42:12                                Opel_Vectra_1.6_16V

       seller offer_type    price   abtest vehicleType  registration_year  \
0      privat    Angebot   $5,000  control         bus               2004
1      privat    Angebot   $8,500  control   limousine               1997
2      privat    Angebot   $8,990     test   limousine               2009
3      privat    Angebot   $4,350  control  kleinwagen               2007
4      privat    Angebot   $1,350     test       kombi               2003
...       ...        ...      ...      ...         ...                ...
49995  privat    Angebot  $24,900  control   limousine               2011
49996  privat    Angebot   $1,980  control      cabrio               1996
49997  privat    Angebot  $13,200     test      cabrio               2014
49998  privat    Angebot  $22,900  control       kombi               2013
49999  privat    Angebot   $1,250  control   limousine               1996

         gearbox  power_ps   model   odometer  registration_month fuel_type  \
0        manuell       158  andere  150,000km                   3       lpg
1      automatik       286     7er  150,000km                   6    benzin
2        manuell       102    golf   70,000km                   7    benzin
3      automatik        71  fortwo   70,000km                   6    benzin
4        manuell         0   focus  150,000km                   7    benzin
...          ...       ...     ...        ...                 ...       ...
49995  automatik       239      q5  100,000km                   1    diesel
49996    manuell        75   astra  150,000km                   5    benzin
49997  automatik        69     500    5,000km                  11    benzin
49998    manuell       150      a3   40,000km                  11    diesel
49999    manuell       101  vectra  150,000km                   1    benzin

            brand unrepaired_damage           ad_created  picture_amount  \
0         peugeot              nein  2016-03-26 00:00:00               0
1             bmw              nein  2016-04-04 00:00:00               0
2      volkswagen              nein  2016-03-26 00:00:00               0
3           smart              nein  2016-03-12 00:00:00               0
4            ford              nein  2016-04-01 00:00:00               0
...           ...               ...                  ...             ...
49995        audi              nein  2016-03-27 00:00:00               0
49996        opel              nein  2016-03-28 00:00:00               0
49997        fiat              nein  2016-04-02 00:00:00               0
49998        audi              nein  2016-03-08 00:00:00               0
49999        opel              nein  2016-03-13 00:00:00               0

       postal_code            last_seen
0            79588  2016-04-06 06:45:54
1            71034  2016-04-06 14:45:08
2            35394  2016-04-06 20:15:37
3            33729  2016-03-15 03:16:28
4            39218  2016-04-01 14:38:50
...            ...                  ...
49995        82131  2016-04-01 13:47:40
49996        44807  2016-04-02 14:18:02
49997        73430  2016-04-04 11:47:27
49998        35683  2016-04-05 16:45:07
49999        45897  2016-04-06 21:18:48

[50000 rows x 20 columns]>

Seller is commonly private, can be dropped. Unrepaired Damage is typically nein, can be dropped. Picture amount typically 0.

In [9]:
#Price transformation to int
autos['price'] = autos.loc[:,'price'].str.replace('$','')
autos['price'] = autos.loc[:,'price'].str.replace(',','')
autos['price'] = autos['price'].astype(int)

print(autos['price'])

0         5000
1         8500
2         8990
3         4350
4         1350
         ...
49995    24900
49996     1980
49997    13200
49998    22900
49999     1250
Name: price, Length: 50000, dtype: int64

In [11]:
autos['odometer'] = autos.loc[:,'odometer'].str.replace('km','')
autos['odometer'] = autos.loc[:,'odometer'].str.replace(',','')
autos['odometer'] = autos['odometer'].astype(int)

print(autos['odometer'])

0        150000
1        150000
2         70000
3         70000
4        150000
          ...
49995    100000
49996    150000
49997      5000
49998     40000
49999    150000
Name: odometer, Length: 50000, dtype: int64

In [12]:
autos.rename(columns={'odometer': 'odometer_km'}, inplace=True)

In [18]:
autos['price'].value_counts().sort_index()

0           1421
1            156
2              3
3              1
5              2
            ...
10000000       1
11111111       2
12345678       3
27322222       1
99999999       1
Name: price, Length: 2357, dtype: int64

In [21]:
autos['price'].describe()

count    5.000000e+04
mean     9.840044e+03
std      4.811044e+05
min      0.000000e+00
25%      1.100000e+03
50%      2.950000e+03
75%      7.200000e+03
max      1.000000e+08
Name: price, dtype: float64

In [24]:
autos = autos[autos['price'].between(-0, 100000)]

In [25]:
autos.describe()

,price,registration_year,power_ps,odometer_km,registration_month,picture_amount,postal_code
count,49947.000000,49947.0000,49947.000000,49947.000000,49947.000000,49947.0,49947.000000
mean,5591.827157,2005.0755,116.136325,125801.549643,5.724108,0.0,50806.034296
std,7468.390182,105.7677,209.121328,39966.521087,3.712434,0.0,25777.569745
min,0.000000,1000.0000,0.000000,5000.000000,0.000000,0.0,1067.000000
25%,1100.000000,1999.0000,69.500000,125000.000000,3.000000,0.0,30449.000000
50%,2900.000000,2003.0000,105.000000,150000.000000,6.000000,0.0,49565.000000
75%,7200.000000,2008.0000,150.000000,150000.000000,9.000000,0.0,71522.000000
max,99900.000000,9999.0000,17700.000000,150000.000000,12.000000,0.0,99998.000000

In [27]:
autos['odometer_km'].value_counts()

150000    32413
125000     5167
100000     2166
90000      1757
80000      1435
70000      1230
60000      1162
50000      1023
5000        957
40000       817
30000       783
20000       776
10000       261
Name: odometer_km, dtype: int64

In the price column, there were very few cars that cost in the millions of dollars that skewed average price up to $900,000+. After removing cars over $100,000, only 53 records were removed. The odometer reading had no outliers after controlling the price column.

Distribution of Dates

In [30]:
for i in ['crawl_date', 'ad_created', 'last_seen']:
    print(autos[i].value_counts(normalize=True, dropna=False).sort_index())

2016-03-05 14:06:30    0.00002
2016-03-05 14:06:40    0.00002
2016-03-05 14:07:04    0.00002
2016-03-05 14:07:08    0.00002
2016-03-05 14:07:21    0.00002
                        ...
2016-04-07 14:30:09    0.00002
2016-04-07 14:30:26    0.00002
2016-04-07 14:36:44    0.00002
2016-04-07 14:36:55    0.00002
2016-04-07 14:36:56    0.00002
Name: crawl_date, Length: 48162, dtype: float64
2015-06-11 00:00:00    0.000020
2015-08-10 00:00:00    0.000020
2015-09-09 00:00:00    0.000020
2015-11-10 00:00:00    0.000020
2015-12-05 00:00:00    0.000020
                         ...
2016-04-03 00:00:00    0.038921
2016-04-04 00:00:00    0.036879
2016-04-05 00:00:00    0.011833
2016-04-06 00:00:00    0.003263
2016-04-07 00:00:00    0.001281
Name: ad_created, Length: 76, dtype: float64
2016-03-05 14:45:46    0.00002
2016-03-05 14:46:02    0.00002
2016-03-05 14:49:34    0.00002
2016-03-05 15:16:11    0.00002
2016-03-05 15:16:47    0.00002
                        ...
2016-04-07 14:58:44    0.00006
2016-04-07 14:58:45    0.00002
2016-04-07 14:58:46    0.00002
2016-04-07 14:58:48    0.00006
2016-04-07 14:58:50    0.00008
Name: last_seen, Length: 39447, dtype: float64

In [31]:
autos['registration_year'].describe()

count    49947.0000
mean      2005.0755
std        105.7677
min       1000.0000
25%       1999.0000
50%       2003.0000
75%       2008.0000
max       9999.0000
Name: registration_year, dtype: float64

In [32]:
autos = autos[autos['registration_year'].astype(int).between(1886, 2023)]

In [33]:
autos['registration_year'].value_counts(normalize=True)

2000    0.067163
2005    0.060393
1999    0.060052
2004    0.054824
2003    0.054624
          ...
1943    0.000020
1929    0.000020
1938    0.000020
1939    0.000020
1952    0.000020
Name: registration_year, Length: 81, dtype: float64

In [37]:
autos['brand'].value_counts(normalize=True)

volkswagen        0.213909
opel              0.109308
bmw               0.108647
mercedes_benz     0.094706
audi              0.085772
ford              0.069627
renault           0.048154
peugeot           0.029165
fiat              0.026180
seat              0.018829
skoda             0.015724
mazda             0.015163
nissan            0.015103
smart             0.014042
citroen           0.014002
toyota            0.012359
sonstige_autos    0.010696
hyundai           0.009775
volvo             0.009134
mini              0.008493
mitsubishi        0.008092
honda             0.007992
kia               0.007131
alfa_romeo        0.006590
suzuki            0.005869
chevrolet         0.005669
porsche           0.005368
chrysler          0.003626
dacia             0.002584
daihatsu          0.002564
jeep              0.002183
subaru            0.002163
land_rover        0.001983
saab              0.001582
daewoo            0.001582
trabant           0.001542
jaguar            0.001542
rover             0.001382
lancia            0.001142
lada              0.000621
Name: brand, dtype: float64

In [40]:
for i in ['volkswagen', 'opel', 'bmw', 'mercedes_benz', 'audi', 'ford', 'renault']:
    print(autos[autos['brand'] == i].describe())

              price  registration_year      power_ps    odometer_km  \
count  10679.000000       10679.000000  10679.000000   10679.000000
mean    5159.401629        2003.047945     98.328776  129006.461279
std     6122.453522           7.779562    132.572841   38577.813103
min        0.000000        1943.000000      0.000000    5000.000000
25%     1100.000000        1998.000000     60.000000  125000.000000
50%     2800.000000        2003.000000    100.000000  150000.000000
75%     7100.000000        2008.000000    125.000000  150000.000000
max    64500.000000        2018.000000   9011.000000  150000.000000

       registration_month  picture_amount   postal_code
count        10679.000000         10679.0  10679.000000
mean             5.638449             0.0  49135.604551
std              3.746148             0.0  26154.887102
min              0.000000             0.0   1067.000000
25%              3.000000             0.0  27751.000000
50%              5.000000             0.0  46562.000000
75%              9.000000             0.0  70771.000000
max             12.000000             0.0  99998.000000
              price  registration_year      power_ps    odometer_km  \
count   5457.000000        5457.000000   5457.000000    5457.000000
mean    2842.824629        2002.869342     93.928899  129361.370717
std     3551.989378           7.342029    231.260803   37389.620977
min        0.000000        1910.000000      0.000000    5000.000000
25%      700.000000        1998.000000     60.000000  125000.000000
50%     1500.000000        2002.000000     90.000000  150000.000000
75%     3600.000000        2007.000000    120.000000  150000.000000
max    38990.000000        2018.000000  14009.000000  150000.000000

       registration_month  picture_amount   postal_code
count         5457.000000          5457.0   5457.000000
mean             5.457761             0.0  49527.243357
std              3.786080             0.0  25027.117057
min              0.000000             0.0   1069.000000
25%              2.000000             0.0  30451.000000
50%              5.000000             0.0  48159.000000
75%              9.000000             0.0  66346.000000
max             12.000000             0.0  99974.000000
              price  registration_year      power_ps    odometer_km  \
count   5424.000000        5424.000000   5424.000000    5424.000000
mean    7904.043326        2003.313791    165.394174  132598.635693
std     8147.429316           6.688340    252.773017   35182.140410
min        0.000000        1929.000000      0.000000    5000.000000
25%     2037.500000        1999.000000    122.000000  125000.000000
50%     5500.000000        2004.000000    163.000000  150000.000000
75%    10900.000000        2008.000000    193.000000  150000.000000
max    72900.000000        2018.000000  17700.000000  150000.000000

       registration_month  picture_amount   postal_code
count         5424.000000          5424.0   5424.000000
mean             5.954646             0.0  54982.865782
std              3.698354             0.0  25600.428273
min              0.000000             0.0   1067.000000
25%              3.000000             0.0  34346.000000
50%              6.000000             0.0  55252.000000
75%              9.000000             0.0  77662.500000
max             12.000000             0.0  99986.000000
              price  registration_year     power_ps    odometer_km  \
count   4728.000000        4728.000000  4728.000000    4728.000000
mean    8286.548012        2002.478638   149.654188  130993.020305
std     9403.183573           8.130648    94.340560   36451.766513
min        0.000000        1937.000000     0.000000    5000.000000
25%     2100.000000        1999.000000   109.000000  125000.000000
50%     4950.000000        2003.000000   143.000000  150000.000000
75%    11000.000000        2007.000000   185.000000  150000.000000
max    99900.000000        2018.000000  1796.000000  150000.000000

       registration_month  picture_amount   postal_code
count         4728.000000          4728.0   4728.000000
mean             6.034687             0.0  51392.357445
std              3.614965             0.0  24865.294980
min              0.000000             0.0   1067.000000
25%              3.000000             0.0  30926.000000
50%              6.000000             0.0  50181.000000
75%              9.000000             0.0  71293.000000
max             12.000000             0.0  99974.000000
              price  registration_year      power_ps    odometer_km  \
count   4282.000000        4282.000000   4282.000000    4282.000000
mean    8926.785381        2004.478982    158.546007  129673.049977
std     9606.241240           6.634563    259.585386   38765.980933
min        0.000000        1968.000000      0.000000    5000.000000
25%     2000.000000        2000.000000    116.000000  125000.000000
50%     5865.000000        2005.000000    150.000000  150000.000000
75%    12596.750000        2009.000000    180.000000  150000.000000
max    80000.000000        2018.000000  16312.000000  150000.000000

       registration_month  picture_amount   postal_code
count         4282.000000          4282.0   4282.000000
mean             6.018683             0.0  54541.972910
std              3.683917             0.0  26576.824661
min              0.000000             0.0   1067.000000
25%              3.000000             0.0  32805.000000
50%              6.000000             0.0  54471.000000
75%              9.000000             0.0  78598.500000
max             12.000000             0.0  99994.000000
              price  registration_year      power_ps    odometer_km  \
count   3476.000000        3476.000000   3476.000000    3476.000000
mean    3590.186997        2003.201669     99.361335  124174.338320
std     5263.651112           7.835827    264.371966   40110.209149
min        0.000000        1927.000000      0.000000    5000.000000
25%      700.000000        1999.000000     60.000000  100000.000000
50%     1700.000000        2003.000000     95.000000  150000.000000
75%     4200.000000        2007.000000    120.000000  150000.000000
max    73500.000000        2018.000000  15001.000000  150000.000000

       registration_month  picture_amount   postal_code
count         3476.000000          3476.0   3476.000000
mean             5.602417             0.0  49380.506904
std              3.728889             0.0  25106.950160
min              0.000000             0.0   1097.000000
25%              3.000000             0.0  29317.000000
50%              5.000000             0.0  49617.000000
75%              9.000000             0.0  66886.750000
max             12.000000             0.0  99974.000000
              price  registration_year     power_ps    odometer_km  \
count   2404.000000        2404.000000  2404.000000    2404.000000
mean    2351.301997        2003.604825    78.779534  128223.793677
std     3478.920060           6.571562   159.924479   37450.011620
min        0.000000        1910.000000     0.000000    5000.000000
25%      696.750000        1999.000000    58.000000  125000.000000
50%     1300.000000        2002.000000    75.000000  150000.000000
75%     2792.250000        2007.000000   107.000000  150000.000000
max    93000.000000        2018.000000  7511.000000  150000.000000

       registration_month  picture_amount   postal_code
count         2404.000000          2404.0   2404.000000
mean             5.590266             0.0  47472.488353
std              3.719985             0.0  24089.670320
min              0.000000             0.0   1097.000000
25%              3.000000             0.0  28239.000000
50%              5.000000             0.0  46539.000000
75%              9.000000             0.0  65203.000000
max             12.000000             0.0  99974.000000